@import './normalize.css';
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo_place_header.css');
@import url('../blocks/header/__title/header__title.css');
@import url('../blocks/header/__subtitle/header__subtitle.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/header/__main-illustration/header__main-illustration.css');
@import url('../blocks/header/__square-pic/header__square-pic.css');

@import url('../blocks/description/description.css');
@import url('../blocks/description/__two-columns/description__two-columns.css');
@import url('../blocks/description/__two-columns/__brief/two-columns__brief.css');
@import url('../blocks/description/__two-columns/__main-text/two-columns__main-text.css');
@import url('../blocks/description/__two-columns/__main-text/__paragraph/two-columns__paragraph.css');
@import url('../blocks/description/__two-columns/__main-text/__paragraph/_span-accent/two-columns__main-text_paragraph_span-accent.css');
@import url('../blocks/description/__two-columns/__main-text/__paragraph/two-columns__paragraph.css');

@import url('../blocks/techniques/techniques.css');
@import url('../blocks/techniques/__title/techniques__title.css');
@import url('../blocks/techniques/__subtitle/techniques__subtitle.css');



























/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
