@import './normalize.css';
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo_place_header.css');
@import url('../blocks/header/__title/header__title.css');
@import url('../blocks/header/__subtitle/header__subtitle.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/header/__main-illustration/header__main-illustration.css');
@import url('../blocks/header/__square-pic/header__square-pic.css');

@import url('../blocks/rotation/rotation.css');

@import url('../blocks/description/description.css');
@import url('../blocks/two-columns/two-columns.css');
@import url('../blocks/two-columns/__brief/two-columns__brief.css');
@import url('../blocks/two-columns/__main-text/two-columns__main-text.css');
@import url('../blocks/two-columns/__main-text/__paragraph/two-columns__paragraph.css');
@import url('../blocks/two-columns/__main-text/__paragraph/_span-accent/two-columns__main-text_paragraph_span-accent.css');
@import url('../blocks/two-columns/__main-text/__paragraph/two-columns__paragraph.css');

@import url('../blocks/techniques/techniques.css');

@import url('../blocks/section-title/section-title.css');

@import url('../blocks/section-subtitle/section-subtitle.css');

@import url('../blocks/techniques/__cards/techniques__card.css');
@import url('../blocks/techniques/__cards/__item/cards__item.css');
@import url('../blocks/techniques/__cards/__item/__image/item__image.css');
@import url('../blocks/techniques/__cards/__item/__title/item__title.css');
@import url('../blocks/techniques/__cards/__item/__description/item__description.css');

@import url('../blocks/video/video.css');
@import url('../blocks/video/__iframes/video__iframes.css');
@import url('../blocks/video/__iframes/__iframe/video__iframe.css');

@import url('../blocks/oakley/oakley.css');

@import url('../blocks/feynman/feynman.css');
@import url('../blocks/feynman/__title/feynman__title.css');
@import url('../blocks/feynman/__subtitle/feynman__subtitle.css');
@import url('../blocks/feynman/__link/feynman__link.css');
@import url('../blocks/feynman/__img/feynman__img.css');

@import url('../blocks/khan/khan.css');
@import url('../blocks/khan/__container/khan__container.css');
@import url('../blocks/khan/__container/__author/container__author.css');
@import url('../blocks/khan/__container/__title/container__title.css');
@import url('../blocks/khan/__container/__quote/container__quote.css');
@import url('../blocks/khan/__container/__quote-author/container__quote-author.css');
@import url('../blocks/khan/__container/__quote-author-subline/container__quote-author-subline.css');
@import url('../blocks/khan/__container/__book-container/container__book-container.css');
@import url('../blocks/khan/__container/__book-container/__book-pic/book-container__book-pic.css');
@import url('../blocks/khan/__container/__book-container/__book-buy-link/book-container__buy-link.css');

@import url('../blocks/digits/digits.css');
@import url('../blocks/table/table.css');
@import url('../blocks/table/__cell/table__cell.css');

@import url('../blocks/table/__cell/cell_theme_dark.css');

@import url('../blocks/table/__cell/__heading/cell_heading.css');
@import url('../blocks/table/__cell/__text/cell__text.css');

@import url('../blocks/theme/theme_dark.css');
@import url('../blocks/kaufman/kaufman.css');
@import url('../blocks/kaufman/__triangle/kaufman__triangle.css');

@import url('../blocks/resources/resources.css');
@import url('../blocks/resources/__logo-zone/resources__logo-zone.css');
@import url('../blocks/resources/__logo-zone/__logo/logo-zone__logo.css');

@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__columns/footer__columns.css');
@import url('../blocks/footer/__columns/__column_content_copyright/columns__column_content_copyright.css');
@import url('../blocks/footer/__columns/__column_content_info/columns__column_content_info.css');
@import url('../blocks/footer/__columns/__column_content_social/columns__column_content_social.css');
@import url('../blocks/footer/__author/column_content_copyright__author.css');
@import url('../blocks/footer/__logo/footer__logo_place_footer.css');
@import url('../blocks/footer/__column-heading/column-heading.css');
@import url('../blocks/footer/__column-links/column-links.css');
@import url('../blocks/footer/__column-link/column-link.css');
@import url('../blocks/footer/__social-icon/social-icon.css');






















/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
